<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="pkg_name" default="agv_odometry_map"/>
	<arg name="node_name" default="wheel_odometry_node"/>
	<arg name="veh" doc="Name of vehicle"/>

	<remap from="wheel_odometry_node/wheel_cmd" to="pulse_generator_node/wheel_cmd"/>
	<node ns="$(arg veh)" pkg="$(arg pkg_name)" name="$(arg node_name)" type="$(arg node_name)" output="screen" clear_params="true" required="true">
	</node>

</launch>
